

<h1>{{title}}</h1>

<hr />

<h2 id="pipes">Pipes</h2>

<p>Title through uppercase pipe: {{title | uppercase}}</p>

<h3>Pipe chaining: convert title to uppercase, then to lowercase </h3>

<p>Title through a pipe chain: {{title | uppercase | lowercase}}</p>


<p>Current hero json pipe: {{hero | json}}</p>
<p>Birthdate with date format pipe: {{hero?.birthdate | date:'longDate'}}</p>
<p>Birthdate with uppercase pipe: {{(hero?.birthdate | date:'longDate') | uppercase}}</p>

<p>
  <!-- pipe price to USD and display the $ symbol -->
  <label>Price with currency pipe: </label>{{product.price | currency:'USD'}}
</p>

<!-- Null values and the safe navigation operator -->
<hr />

<h2>Safe navigation operator: <code>?</code> and <code>null</code></h2>

<p>
  The nullhero's name is: {{nullhero?.name}}
</p>

<p>
  The hero's name is: {{hero.name}}
</p>

<hr />
<h2>Error if null:</h2>
<!-- The null hero's name is {{nullHero.name}} -->

<div><p>See console log for error about nullHero.name:</p>
  <p>TypeError: Cannot read property 'name' of null in [null]</p>
</div>

<hr />

<h2>The div will not display and there's no error: </h2>
<!--No hero, div not displayed, no error -->
<div class="no-show-div">
  <p>There's a child div in here that won't show.</p>
  <p *ngIf="nullHero">The null hero's name {{nullHero.name}}</p>
</div>
<hr />

<h2>Div will show but interpolation will not:</h2>
<div>
  <h3>Using and (<code>&&</code>)</h3>
  <p>The null hero's name is: {{nullHero && nullHero.name}}</p>
</div>

<div>
  <h3>Using Safe Navigation Operator (<code>?</code>)</h3>
  <!-- No hero, no problem! -->
  <p>The null hero's name is {{nullHero?.name}}</p>
</div>


<!-- non-null assertion operator -->
<hr />
<h2>Non-null assertion operator <code>!.</code></h2>
<div>
  <!--No hero, no text -->
  <p *ngIf="hero">The hero's name is {{hero!.name}}</p>
</div>

